.m-logo {
  display: inline-block;
  height: 25px;

  img {
    width: auto;
    max-width: 150px;
    // height: 100%;
    top: -15px;
    position: relative;
    object-fit: contain;

    @include respond-to('medium') {
      top: -10px;
    }
  }

  &.in-mobile-topbar {
    height: 20px;
  }
}
